{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Area list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Areaid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('area_show', { 'id': entity.areaId }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.areaId }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('area_show', { 'id': entity.areaId }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('area_edit', { 'id': entity.areaId }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('area_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
