{% extends '::base.html.twig' %}

{% block body -%}
    <h1>State list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Stateid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('state_show', { 'id': entity.stateId }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.stateId }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('state_show', { 'id': entity.stateId }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('state_edit', { 'id': entity.stateId }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('state_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
