{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Location</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Address</th>
                <td>{{ entity.address }}</td>
            </tr>
            <tr>
                <th>Coordinates</th>
                <td>{{ entity.coordinates }}</td>
            </tr>
            <tr>
                <th>Locationid</th>
                <td>{{ entity.locationId }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('location') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('location_edit', { 'id': entity.locationId }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
