{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Photo list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Caption</th>
                <th>Photoid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('photo_show', { 'id': entity.photoId }) }}">{{ entity.caption }}</a></td>
                <td>{{ entity.photoId }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('photo_show', { 'id': entity.photoId }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('photo_edit', { 'id': entity.photoId }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('photo_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
