{% extends '::base.html.twig' %}

{% block body -%}
    <h1>UserType</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ entity.code }}</td>
            </tr>
            <tr>
                <th>Usertypeid</th>
                <td>{{ entity.userTypeId }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('usertype') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('usertype_edit', { 'id': entity.userTypeId }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
