{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Company list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Locationid</th>
                <th>Companyid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('company_show', { 'id': entity.companyId }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.locationId }}</td>
                <td>{{ entity.companyId }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('company_show', { 'id': entity.companyId }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('company_edit', { 'id': entity.companyId }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('company_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
