{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Company</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Locationid</th>
                <td>{{ entity.locationId }}</td>
            </tr>
            <tr>
                <th>Companyid</th>
                <td>{{ entity.companyId }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('company') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('company_edit', { 'id': entity.companyId }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
